body {
    background-color: var(--nofocus);
    color: var(--text);
    margin: 0%;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
nav.navbar {
    padding: 0px;
    margin: 0px;
    background-color: var(--slightfocus3);
    text-align: center;
    user-select: none;
    font-size: 0.9rem;
}
nav.navbar + hr {
    margin: 0px;
}
nav.navbar > li {
    display: inline-flex;
    --menu-link-color: var(--text);
}
nav.navbar > li > a:hover,
nav.navbar > li > a:focus {
    background-color: var(--slightfocus2);
    --menu-link-color: var(--nofocus);
}
nav.navbar > li > a:active {
    background-color: var(--slightfocus1);
    --menu-link-color: var(--nofocus);
}
nav.navbar > li > a {
    padding: 8px 20px;
    color: var(--menu-link-color);
    text-decoration: none;
}
h1 {
    text-align: center;
}
footer {
    text-align: center;
    margin-top: auto;
    font-size: 0.7em;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    background-color: var(--slightfocus2);
}

.clickable {
    color: var(--href-text);
    text-decoration: underline;
}
.clickable:hover {
    cursor: pointer;
}
.clickable:active {
    color: purple;
}