/*
All global color variables declared here:
*/
:root {
    --text: #222;
    --href-text: #00f;

    --focus: #444;
    --slightfocus1: #aaa;
    --slightfocus2: #bbb;
    --slightfocus3: #ccc;
    --nofocus: #eee;    

    font-family: 'Inter';
    font-size: 1.2em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #ddd;
        --href-text: #88f;
    
        --focus: #aaa;
        --slightfocus1: #666;
        --slightfocus2: #444;
        --slightfocus3: #393939;
        --nofocus: #222;
    }
}