#duck-animation-bounds {
    position: absolute;
}

.sprite {
    margin: -10%;
    z-index: -1;
}
#duck-animation-bounds > .trigger-image:hover ~ .mov-x {
    animation: xAxis 2.5s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
}
#duck-animation-bounds > .trigger-image:hover ~ .mov-x > .mov-y {
    animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
}
  
@keyframes yAxis {
    50% {
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
        transform: translateY(-100px);
    }
}
  
@keyframes xAxis {
    50% {
        animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
        transform: translateX(100px);
    }
}
