menu.nav {
    padding: 0px;
    margin: 0px;
    background-color: var(--slightfocus1);
    text-align: center;
    user-select: none;
}
menu.nav + hr {
    margin: 0px;
}
menu.nav > li {
    display: inline-flex;
    --menu-link-color: var(--text);
}
menu.nav > li:hover {
    background-color: var(--slightfocus2);
    --menu-link-color: var(--nofocus);
}
menu.nav > li:active {
    background-color: var(--focus);
    --menu-link-color: var(--nofocus);
}
menu.nav > li > * {
    padding: 10px 20px;
    color: var(--menu-link-color);
    text-decoration: none;
}