/*
All global color variables declared here:
*/
:root {
    --text: #222;

    --focus: #444;
    --slightfocus2: #aaa;
    --slightfocus1: #bbb;
    --nofocus: #efefef;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #ddd;
    
        --focus: #aaa;
        --slightfocus2: #666;
        --slightfocus1: #444;
        --nofocus: #222;
    }
}

body {
    background-color: var(--nofocus);
    color: var(--text);
    margin: 0%;
}