/*
All global color variables declared here:
*/
:root {
    --text: #222;

    --focus: #444;
    --slightfocus2: #aaa;
    --slightfocus1: #bbb;
    --nofocus: #efefef;
}

body {
    background-color: var(--nofocus);
    margin: 0%;
}
menu.nav {
    padding: 0px;
    margin: 0px;
    background-color: var(--slightfocus1);
    text-align: center;
}
menu.nav + hr {
    margin: 0px;
}
menu.nav > li {
    display: inline-block;
    padding: 10px 20px;
    --menu-link-color: var(--text);
}
menu.nav > li:hover {
    background-color: var(--slightfocus2);
    --menu-link-color: var(--nofocus);
}
menu.nav > li:active {
    background-color: var(--focus);
    --menu-link-color: var(--nofocus);
}
menu.nav > li > a {
    color: var(--menu-link-color);
    text-decoration: none;
    user-select: none;
}
menu.nav > li > a > img {
    background-color: white;
    color: var(--menu-link-color);
    text-decoration: none;
}