#contact-list {
    margin: 0;
    padding-left: 8vw;
    padding-right: 3vw;
    font-size: 1.25em;
    user-select: none;
}
.selectable {
    user-select: text;
    color: var(--focus);
}
.clickable, .clickable:any-link {
    color: var(--href-text);
    text-decoration: underline;
}
.clickable:hover {
    cursor: pointer;
}
.clickable:active {
    color: purple;
}